<mat-toolbar>
  <mat-toolbar-row>
    <div>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div><h1>Angular Material Sidenav</h1></div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/table">Table Component</a>
      <a mat-list-item routerLink="/login">Login Component</a>
      <a mat-list-item routerLink="/order/:id/:id2">Order Component</a>
      <a mat-list-item routerLink="/search">Query Parameters</a>
      <a mat-list-item routerLink="/products">Params Parameters</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [ngClass]="'container'">
      <h2 class="bg-primary">Welcome to {{ title }}</h2>
      <router-outlet></router-outlet>
      <div>
        <button (click)="readme()">Click Me</button>
      </div>

      <div>
        <h4>ngIf Statement</h4>
        <p *ngIf="ShowMsg; else showElseMsg; then: showThenMsg">Show Msg</p>
        <ng-template #showElseMsg>Show else msg</ng-template>
        <ng-template #showThenMsg>Then else msg</ng-template>
      </div>

      <div>
        <h4>ngSwitch Statement</h4>
        <div [ngSwitch]="switchValue">
          <p *ngSwitchCase="1">Value passed is : 1</p>
          <p *ngSwitchCase="2">Value passed is : 2</p>
          <p *ngSwitchCase="'three'">Value passed is : 3</p>
          <p *ngSwitchCase="4">Value passed is : 4</p>
          <p *ngSwitchDefault>This is the default Switch</p>
        </div>
      </div>

      <div>
        <h4>ngStyle Statement</h4>
        <!-- 1st way -->
        <p [ngStyle]="{ color: 'red', 'background-color': 'blue' }">
          Learning angular is fun!
        </p>
        <!-- 2nd way -->
        <p [ngStyle]="{ color: colorVal, 'background-color': bgColorVal }">
          Learning angular is fun!
        </p>
      </div>

      <div>
        <h4>ng Class Statement</h4>
        <p [ngClass]="'one'">Lerning ngClass string</p>
        <p [ngClass]="[clsName, clsName2]">multiple class in arrays ngClass</p>
        <p [ngClass]="{ one: false, two: true }">expressions ngClass</p>
      </div>

      <div>
        <h4>Interpolation (Data binding)</h4>
        <p>{{ subTitle }}</p>
        <p>{{ epNum }}</p>
        <p>{{ user.userId }} {{ user.userName }}</p>
      </div>

      <div>
        <h4>Property Binding (Data binding)</h4>
        <p [ngStyle]="{ color: colorValue }">
          This is example of property binding
        </p>
        <p [innerHTML]="subTitle"></p>
        <p [ngClass]="'c1'">This is class property</p>
        <input [placeholder]="placeholderVal" />
      </div>

      <div>
        <h4>Attribute Binding (Data binding)</h4>
        <a
          [href]="hrefVal"
          [attr.updatedLink]="updatedLink"
          [attr.data-Link]="updatedLink"
          >Google Link</a
        >
        <p>custom attribute link useful to create custom attribute</p>
      </div>

      <div>
        <h4>Event binding (Data binding)</h4>
        <button (click)="showAlert()">Click Me</button>
      </div>

      <div>
        <!-- <h4>Two way data binding</h4>
        <input [(ngModel)]="alternateVal"/>
        <button (click)="readAlternateVal()">Read function</button>
        <p>{{ alternateVal }}</p>  -->
      </div>

      <div>
        <h2>Pipes</h2>
        <p>Pipes are used to transform the data</p>
        <p>
          Pipes will take data input & convert/transform into a desired format
        </p>
        <p>Pipes are written using the pipe operator (|)</p>
        <p>We can apply pipes to any template & in any data inputs</p>
        <b>Types of Pipes::</b>
        <mat-grid-list cols="4" rowHeight="3:2">
          <mat-grid-tile>
            <div>
              <h2 md-title>Built in pipes</h2>
              <p>
                {{ user1.First | lowercase }}, {{ user1.Middle | uppercase }}
              </p>
              <p>{{ user1.DOB | date: "MMM dd yyyy" }}</p>
              <p>{{ user1.salary | currency: "INR" }}</p>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <h2 md-title>Parameterized pipes</h2>
              <p>
                {{ user1.First | lowercase }}, {{ user1.Middle | uppercase }}
              </p>
              <p>{{ user1.DOB | date: "longDate" }}</p>
              <p>{{ user1.salary | currency: "INR":"INR":"3.0-0" }}</p>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <h2 md-title>Chaining pipes</h2>
              <p>We can add multiple pipes in data input in Chainingpipes</p>
              <p>We can pass one or more pipes to a data input</p>
              <p>{{ user1.DOB | date: "MMM" | uppercase }}</p>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <h2 md-title>Custom Pipes</h2>
              <p>
                We can generate a new custom pipe using CLI ng g p Highlight
              </p>
              <p>We need to import pipe & pipe transform from @angular/core</p>
              <p>{{ user2.city | highlight: user2.city }}</p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
